* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    color: brown;
}



fieldset {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid green;
    padding: 5px;
}

label {
    float: left;
    width: 25%;
    text-align: right;
    font-weight: bold;
}

.contenedor {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

legend {
    padding: 0.2em 0.5em;
    border: 1px solid green;
    color: green;
    font-size: 90%;
    text-align: right;
}
button {
    padding: 5px;
    margin: 10px;
    background-color: cadetblue;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: white;
}

input {
    padding: 2px;
    margin: 1px;
}

label {
    padding: 2px;
    margin: 1px;
}

/* ESTILO TABLA*/
table {
    background-color: #dddd3a;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}


#btn_registrar {
    border: solid 1px blue;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    margin: 10px;
    float: right;
    text-align: right;
}

#btn_registrar:hover {
    border-color: azure;
    color: azure;
}

a:visited {
    color: blue;
}
